// Flex container
.fc {
    background-color #aaa
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content flex-start
    width 100%
    margin 0 auto
    padding 0 ($gutter/2)
}

// Width od .fc
for size, value in ($containers) {
    .w{size}{
        max-width value
    }
}

// Box defaults
.box {
    background-color #aca
    padding 0 ($gutter/2)
    border 1px solid #999
}

// I tried a lot of different ways of dealing
// with breakpoints, this seams most reasonable
// for now

for size, value in ($breakpoints) {
    +above(value) {
        for num in ($grid-columns..1) {
            .d{size}-{num} {
               .box {
                   width (100/num)%
               } 
            }
        }
    }
}